<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>persediaan obat</title>
  {{ style('style') }}
</head>
<body>
    <div class="layout">
    <img src="obat 2.png" style="float:right; width:50px;" alt="">
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <div class="judul">
        <h1 class="tittle">Registrasi</h1>
    </div>
        <input class="input" type="text" placeholder="Email">
        <br><br>
        <input class="input" type="password" placeholder="Password">
        <br><br><br><br><br><br>    
        <a href="/beranda">
        <input type="submit" name="submit" class="button" value="Login">
        </a>
    </div>
</body>
</html>